    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <title>Tesla - Inicio</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        margin: 20px;
        }

        .logo {
        max-width: 200px; 
        }
    </style>
    </head>
    <body class="home-page">
    <h1>Tesla Motors</h1>
    <div>
        <div class="logo-container">
            <img src="/images/tesla_logo.jpg" alt="Tesla Logo">
        </div>
    </div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tesla - Inicio</title>
        <style>
            body {
              font-family: Arial, sans-serif;
              margin: 20px;
            }
          
            .logo {
              max-width: 200px; 
            }
          
            .home-page h2,
            .home-page p {
              color: white;
              text-align: center;
            }
          
            .vision-mission {
              max-width: 600px;
              margin: 20px auto; 
              padding: 20px;
              background-color: rgba(0, 0, 0, 0.8); /* Fondo Negro */
              border-radius: 10px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
          </style>
    </head>
    <body>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/model_s">Model S</a></li>
            <li><a href="/model_y">Model Y</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        </nav>
    
    </html>
    
    <p>
        Tesla, Inc. es una empresa de tecnología y automóviles eléctricos con sede en Palo Alto, California.
        Fundada en 2003 por Elon Musk, Martin Eberhard y Marc Tarpenning, Tesla se ha convertido en líder en
        la industria de vehículos eléctricos y energía sostenible.
    </p>

    <p>
        Elon Musk, el visionario fundador y CEO de Tesla, ha liderado la empresa en la creación de vehículos eléctricos
        de alto rendimiento, baterías innovadoras y soluciones de energía renovable. Con un enfoque en la sostenibilidad
        y la innovación, Tesla ha revolucionado la forma en que vemos la movilidad y la energía.
    </p>


    <div class="vision-mission">
        <h2>Visión de Tesla</h2>

        <p>Transformar la industria automotriz hacia la sostenibilidad, ofreciendo vehículos eléctricos de alta calidad y rendimiento.</p>

        <h2>Misión de Tesla</h2>

        <p>Acelerar la transición del mundo hacia la energía sostenible mediante la oferta de productos de energía y transporte eléctricos altamente eficientes</p>
    </div>

    </body>
    </html>
