<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <title>Tesla - Model S</title>
</head>
<body>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 20px;
        }
      
        nav {
          margin-bottom: 20px;
        }
      
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
      
        nav li {
          float: left;
        }
      
        nav li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
      
        nav li a:hover {
          background-color: #ddd;
          color: black;
        }
      
        h1, p {
          text-align: center;
        }
      
        .model-info {
          max-width: 800px;
          margin: 20px auto; 
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco */
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      </style>
      
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/model_s">Model S</a></li>
          <li><a href="/model_y">Model Y</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </nav>
      
  <h1>Tesla Model S</h1>
  
  <div>
    <img src="/images/model_s.jpg" alt="Tesla Model S" class="model-image">
  </div>

  <p>
    El Tesla Model S es un sedán eléctrico de lujo con un rendimiento excepcional.
    Ofrece una aceleración impresionante, un diseño elegante y una autonomía líder en la industria.
  </p>

  
  <p>
    El Tesla Model S es una berlina eléctrica, del segmento E, fabricada por Tesla desde
    2012. Aunque se trata de un producto veterano, ha sufrido ligeras actualizaciones
    con el paso de los años. El Tesla Model S tiene cinco plazas distribuidas en dos filas
    de asientos, pero opcionalmente se puede equipar con siete plazas gracias a una
    tercera fila con dos asientos para niños. El Tesla Model S se produce en la planta de
    fabricación que Tesla tiene en Fremont, California (Estados Unidos).


    Entre las berlinas eléctricas que aspiran a rivalizar con el Tesla Model S nos
    encontramos con modelos como el Porsche Taycan, el Audi e-tron GT, o el
    Mercedes EQE. No te pierdas nuestra guía de compra de coches eléctricos con
    información detallada de todos los coches eléctricos del mercado.

    
  </p>

</body>
</html>
